<div class="py2 post-footer">
    <img src="//www.gravatar.com/avatar/{{ site.gravatar_hash }}?s=120" alt="Stephen G. Friend" class="avatar" />
    <p>
        <a href="https://stephengfriend.com">Stephen</a> is a full stack developer with an addiction to devops. When he's not writing code or automating things, he plays with his two kids and manages an amatuer baseball team.
    </p>
    <p>
        If you liked this post, you can
        <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{site.twitter_username}}" target="_blank">
        share it with your followers</a>
        or <a href="https://twitter.com/{{site.twitter_username}}">follow me on Twitter</a>!
  </p>
</div>
